<h1 class="text-center">All Alpha Bloggers</h1>

<% @users.each do |user| %>
    <div class="text-center pb-3">
        <div class="card col-md-4 offset-4">
            <div class="card-body">
                <%= link_to gravatar_for(user), user_path(user) %>
                <p class="card-title">
                    <%= link_to user.username, user_path(user) %>
                </p>
                <p><small>
                    <%= pluralize(user.articles.count, "article") if user.articles %>
                </small></p>
            </div>
        </div>
    </div>                    
<% end %>
