
#logo{
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: bold
}

#logo:hover{
    color: #fff;
    text-decoration: none;
}


.jumbotron{
    background: red url('images/banner.png') no-repeat;
    background-size: cover;
    height: calc(100vw * (250 / 550))
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold
}