<footer class="footer">
    <div class="container">
    <small>
        Copyright &copy; <a href="#">The Complete Ruby on Rails Developer</a>
        by <a href="#">André Ezequiel</a>
    </small>
    <ul class="nav nav-tabs|pills nav-stacked">
        <li class="nav-item">
            <%= link_to 'About', about_path, class: 'nav-link active' %>
        </li>
    </ul>
    </div>
</footer>